/* your styles go here */
nav.navbar a.nav-link.active,
nav.navbar a.nav-link:hover {
    color: #333;
    border-top-color: #ff3b3f;
}

@media (max-width: 1199.98px) {

    nav.navbar a.nav-link.active,
    nav.navbar a.nav-link:hover {
        color: #ff3b3f;
    }
}

.bg-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#2bacc9), to(#81e0f6)) !important;
    background: linear-gradient(to bottom, #2bacc9, #81e0f6) !important;
    color: #fff;
}

#filter li {
    display: inline-block;
    list-style-type: none;
    font-family: "Roboto Slab", serif;
    margin-bottom: 30px;
    border-top: solid 1px #2bacc9;
    border-bottom: solid 1px #2bacc9;
    margin: 0 10px 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#filter li a {
    display: inline-block;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #2bacc9;
    outline: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#filter li.active,
#filter li:hover {
    border: none;
}

#filter li.active a,
#filter li:hover a {
    color: #fff;
    text-decoration: none;
    background: #2bacc9;
}

.btn-outline-light {
    color: #ff3b3f;
    background-color: transparent;
    background-image: none;
    border-color: #ff3b3f;
}

.btn-outline-light:hover {
    color: #fff;
    background-color: #ff3b3f;
    border-color: #ff3b3f;
}

.btn-outline-primary {
    color: #ff3b3f;
    background-color: transparent;
    background-image: none;
    border-color: #ff3b3f;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #ff3b3f;
    border-color: #ff3b3f;
}